.header {
	padding: 24px;
	height: 100%;
	display: flex;
	background: white;
	align-items: center;

	column-gap: 1rem;
	border-bottom: 1px solid #e5e7eb;

	> .header__menu {
		display: flex;
		align-items: center;
		margin-left: auto;

		column-gap: 1rem;

		img {
			border-radius: 50%;
		}
	}
}
