.searchInput {
	display: flex;
	align-items: center;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}

.search {
	overflow: hidden;
	border-radius: 0.375rem;
	border-width: 1px;
	border-style: solid;
	border-color: #e5e7eb;

	.table {
		overflow: hidden;
		border-radius: 0.375rem;
		border-width: 1px;
		border-style: solid;
		border-color: #e5e7eb;
	}
}

.loading {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	> .heading {
		height: 32px;
		width: 196px;
	}

	> .search {
		height: 2rem;
		width: 18rem;
		margin-top: 1.5rem;

		.loader_wrapper {
			height: 520px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
