.main {
	margin-top: 12px;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1rem;
	column-gap: 2rem;
	transition: all 0.2s;

	@media (min-width: 640px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (min-width: 1280px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	> .card {
		box-shadow:
			0 1px 2px 0 rgb(0 0 0 / 0.05),
			0 1.5px 6px 0 rgb(0 0 0 / 0.05);

		> .header {
			padding: 1rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 0;
			margin-bottom: 0;

			> h3 {
				font-size: 0.875rem;
				font-weight: 500;
				color: #64748b;
				margin-bottom: 10px;
			}

			> svg {
				width: 1.25rem;
				height: 1.25rem;
			}
		}

		> .content {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			> h2 {
				font-size: 1.5rem;
				font-weight: 700;
			}
		}
	}
}
