.wrapper {
	padding: 32px;

	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	> .buttons {
		display: flex;
		align-items: center;
		row-gap: 16px;

		svg {
			width: 16px;
			height: 16px;
		}
	}

	> .table {
		margin-top: 1rem;
	}
}
