.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 24px;
	flex: 1;

	> .navigation {
		display: flex;
		flex-direction: column;
		width: 100%;
		> * + * {
			margin-top: 0.75rem;
		}

		.route {
			display: flex;
			align-items: center;
			gap: 0.75rem;
			color: #64748b;
			font-size: 0.875rem;
			font-weight: 500;
			padding: 0.625rem 0.75rem;
			border-radius: 0.5rem;
			background-color: transparent;
			transition: all 0.2s;

			&:hover {
				background-color: rgba(254, 202, 202, 0.2);
				color: #ef4444;
				filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.06));
			}
		}

		.svg {
			width: 1.25rem;
			height: 1.25rem;
		}

		&.active {
			font-size: 0.875rem;
			color: #ef4444;
			background-color: rgba(254, 202, 202, 0.2);

			&:hover {
				background-color: rgba(254, 202, 202, 0.2);
				color: #ef4444;
			}
		}
	}
}
