.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	> .layout {
		> .header {
			height: 70px;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 49;
			padding-left: 256px;

			@media (max-width: 1023.98px) {
				padding-left: 0;
			}
		}

		> .sidebar {
			display: none;
			height: 100%;
			width: 256px;
			flex-direction: column;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 50;

			@media (min-width: 1024px) {
				display: flex;
			}
		}

		> main {
			padding-top: 70px;
			padding-bottom: 70px;
			background-color: #fff;
			padding-left: 256px;

			@media (max-width: 1023.98px) {
				padding-left: 0;
			}
		}
	}
}
