.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;

	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
	}

	> .left {
		height: 100%;
		background-color: #2563eb;
		display: none;

		@media (min-width: 1024px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	> .right {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		> .card {
			border: none;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 380px;

			> .header {
				text-align: center;
				padding: 0 0 1.25rem 0;
				width: 100%;

				[data-slot='card-title'] {
					font-size: 2.25rem;
					line-height: 2.5rem;
					font-weight: 700;
				}
			}

			> .content {
				padding: 0;
				width: 100%;

				form {
					display: flex;
					flex-direction: column;
					gap: 1.25rem;

					button {
						width: 100%;
					}
				}

				> .social {
					display: flex;
					flex-direction: column;
					gap: 0.75rem;
					width: 100%;
					margin-top: 1.25rem;

					> button {
						width: 100%;

						> svg {
							width: 1.25rem;
							height: 1.25rem;
							margin-right: 0.5rem;
						}
					}
				}
			}

			> .footer {
				padding: 0;
				margin-top: 1rem;
				font-size: 0.875rem;
				line-height: 1.25rem;
				color: hsl(var(--muted-foreground));

				> button {
					margin-left: 0.25rem;
					color: #0284c7;
				}
			}
		}
	}
}
