.wrapper {
	padding: 24px;

	> .header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> .buttons {
			display: flex;
			align-items: center;
			column-gap: 1rem;
		}

		svg {
			width: 1rem;
			height: 1rem;
		}
	}

	> .table {
		margin-top: 0.75rem;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 1.5rem;
		height: 100%;

		> .fields {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			gap: 1rem;
			margin-top: 1rem;

			@media (min-width: 640px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
			@media (min-width: 768px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
			@media (min-width: 1024px) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}
		}
	}
}
