.wrapper {
	padding: 24px;

	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	> .buttons {
		display: flex;
		align-items: center;
		row-gap: 16px;

		svg {
			width: 16px;
			height: 16px;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		gap: 1.5rem;

		> .fields {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 1rem;
			margin-top: 1rem;

			@media (min-width: 640px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (min-width: 1024px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		> .saveButton {
			width: 100px;
		}
	}
}
